In [ ]:
import pandas as pd
import pandas_profiling as pp

In [ ]:
df_train = pd.read_csv("traindata.csv")
df_test = pd.read_csv("testdata.csv")

In [ ]:
df_train["src"] = "train"
df_test["src"] = "test"

In [ ]:
for r in range(0, df_train.shape[0]):
    print(df_train.loc[r, "TARGET"])
    if df_train.loc[r, "TARGET"] > 0:
        df_train.loc[r, "TARGET_C"] = 1
    else:
        df_train.loc[r, "TARGET_C"] = 0

In [ ]:
df_train.loc[0:15, ["TARGET", "TARGET_C"]]

In [ ]:
df_train.isna().sum()

In [172]:
for c in df.columns:
    print('------', c, '--------')
    print("Data type= ", df_train.loc[df_train.TARGET == 0, c].dtypes)
    print("Mean= ", df_train.loc[df_train.TARGET == 0, c].mean())
    print("Min= ", df_train.loc[df_train.TARGET == 0, c].min())
    print("Max= ", df_train.loc[df_train.TARGET == 0, c].max())
    print("NaN count= ", df_train.loc[df_train.TARGET == 0, c].isna().sum())
    print("Unique values count= ", df_train.loc[df_train.TARGET == 0, c].nunique())
    print("Non-zero values count= ", df_train.loc[df_train.TARGET == 0, c].nonzero().count("0"))

------ ID --------
Data type=  int64
Mean=  75801.15477782147
Min=  3
Max=  151805
NaN count=  0
Unique values count=  12715
Non-zero values count=  0
------ var3 --------
Data type=  int64
Mean=  -1019.6090444357059
Min=  -999999
Max=  223
NaN count=  0
Unique values count=  87
Non-zero values count=  0
------ var15 --------
Data type=  int64
Mean=  32.989461266221
Min=  5
Max=  104
NaN count=  0
Unique values count=  94
Non-zero values count=  0
------ imp_ent_var16_ult1 --------
Data type=  float64
Mean=  119.01825324419976
Min=  0.0
Max=  135000.0
NaN count=  0
Unique values count=  186
Non-zero values count=  0
------ imp_op_var39_comer_ult1 --------
Data type=  float64
Mean=  72.20529532048747
Min=  0.0
Max=  8520.06
NaN count=  0
Unique values count=  1516
Non-zero values count=  0
------ imp_op_var39_comer_ult3 --------
Data type=  float64
Mean=  119.2357491152179
Min=  0.0
Max=  16086.06
NaN count=  0
Unique values count=  1771
Non-zero values count=  0
------ imp_op_var40_comer_ult1 --------
Data type=  float64
Mean=  3.2493031852143144
Min=  0.0
Max=  6300.69
NaN count=  0
Unique values count=  55
Non-zero values count=  0
------ imp_op_var40_ult1 --------
Data type=  float64
Mean=  2.309285096342902
Min=  0.0
Max=  4583.76
NaN count=  0
Unique values count=  35
Non-zero values count=  0
------ imp_op_var41_comer_ult1 --------
Data type=  float64
Mean=  68.95599213527316
Min=  0.0
Max=  8520.06
NaN count=  0
Unique values count=  1492
Non-zero values count=  0
------ imp_op_var41_comer_ult3 --------
Data type=  float64
Mean=  113.09983484073896
Min=  0.0
Max=  16086.06
NaN count=  0
Unique values count=  1749
Non-zero values count=  0
------ imp_op_var41_efect_ult1 --------
Data type=  float64
Mean=  64.56868029885962
Min=  0.0
Max=  45990.0
NaN count=  0
Unique values count=  139
Non-zero values count=  0
------ imp_op_var41_efect_ult3 --------
Data type=  float64
Mean=  108.01409516319308
Min=  0.0
Max=  96870.0
NaN count=  0
Unique values count=  179
Non-zero values count=  0
------ imp_op_var41_ult1 --------
Data type=  float64
Mean=  135.24985057019262
Min=  0.0
Max=  47598.09
NaN count=  0
Unique values count=  1567
Non-zero values count=  0
------ imp_op_var39_efect_ult3 --------
Data type=  float64
Mean=  108.2383389697208
Min=  0.0
Max=  96870.0
NaN count=  0
Unique values count=  180
Non-zero values count=  0
------ imp_op_var39_ult1 --------
Data type=  float64
Mean=  137.55913566653552
Min=  0.0
Max=  47598.09
NaN count=  0
Unique values count=  1582
Non-zero values count=  0
------ imp_sal_var16_ult1 --------
Data type=  float64
Mean=  9.818269760125835
Min=  0.0
Max=  58048.05
NaN count=  0
Unique values count=  18
Non-zero values count=  0
------ ind_var1 --------
Data type=  int64
Mean=  0.0037750688163586316
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var5_0 --------
Data type=  int64
Mean=  0.9576877703499803
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var5 --------
Data type=  int64
Mean=  0.6850963429020841
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var6 --------
Data type=  int64
Mean=  7.864726700747149e-05
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var8_0 --------
Data type=  int64
Mean=  0.03303185214313802
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var12_0 --------
Data type=  int64
Mean=  0.07141171844278411
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var13_0 --------
Data type=  int64
Mean=  0.0543452615021628
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var13_medio_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ ind_var14 --------
Data type=  int64
Mean=  0.005348014156508062
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var17_0 --------
Data type=  int64
Mean=  0.0016515926071569013
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var17 --------
Data type=  int64
Mean=  0.0013370035391270154
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var18_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ ind_var20 --------
Data type=  int64
Mean=  0.0031458906802988595
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var24_0 --------
Data type=  int64
Mean=  0.0441211167911915
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var25_cte --------
Data type=  int64
Mean=  0.02736924891860008
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var26_0 --------
Data type=  int64
Mean=  0.025639009044435706
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var25_0 --------
Data type=  int64
Mean=  0.02493118364136846
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var27_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ ind_var30 --------
Data type=  int64
Mean=  0.7556429414077861
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var31_0 --------
Data type=  int64
Mean=  0.004404246952418403
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var31 --------
Data type=  int64
Mean=  0.0037750688163586316
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var33_0 --------
Data type=  int64
Mean=  0.0006291781360597719
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var33 --------
Data type=  int64
Mean=  0.0005505308690523004
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var37_cte --------
Data type=  int64
Mean=  0.07377113645300826
Min=  0
Max=  1
NaN count=  0

/home/mukundhan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if __name__ == '__main__':

Unique values count=  2
Non-zero values count=  0
------ ind_var37_0 --------
Data type=  int64
Mean=  0.06614235155328352
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var37 --------
Data type=  int64
Mean=  0.06614235155328352
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var39_0 --------
Data type=  int64
Mean=  0.8843098702320095
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var40_0 --------
Data type=  int64
Mean=  0.010931970114038536
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var40 --------
Data type=  int64
Mean=  0.0037750688163586316
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var41_0 --------
Data type=  int64
Mean=  0.8833661030279197
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var46_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ ind_var46 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var1_0 --------
Data type=  int64
Mean=  0.03279591034211561
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var1 --------
Data type=  int64
Mean=  0.011325206449075895
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var4 --------
Data type=  int64
Mean=  1.1081399921352733
Min=  0
Max=  7
NaN count=  0
Unique values count=  8
Non-zero values count=  0
------ num_var5 --------
Data type=  int64
Mean=  2.062603224537947
Min=  0
Max=  9
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_var6_0 --------
Data type=  int64
Mean=  0.0009437672040896579
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var6 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var8 --------
Data type=  int64
Mean=  0.08777034998033818
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var12_0 --------
Data type=  int64
Mean=  0.2232009437672041
Min=  0
Max=  15
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ num_var13_0 --------
Data type=  int64
Mean=  0.17884388517499017
Min=  0
Max=  15
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var13_medio --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var14_0 --------
Data type=  int64
Mean=  0.07809673613841919
Min=  0
Max=  12
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_var14 --------
Data type=  int64
Mean=  0.016751867872591426
Min=  0
Max=  12
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_var17_0 --------
Data type=  int64
Mean=  0.009437672040896579
Min=  0
Max=  15
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var17 --------
Data type=  int64
Mean=  0.007786079433739677
Min=  0
Max=  15
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var20_0 --------
Data type=  int64
Mean=  0.012268973653165552
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var24_0 --------
Data type=  int64
Mean=  0.13283523397561936
Min=  0
Max=  6
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_var24 --------
Data type=  int64
Mean=  0.11867872591427447
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var26_0 --------
Data type=  int64
Mean=  0.09366889500589855
Min=  0
Max=  21
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var26 --------
Data type=  int64
Mean=  0.09366889500589855
Min=  0
Max=  21
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var25_0 --------
Data type=  int64
Mean=  0.09083759339362957
Min=  0
Max=  21
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var25 --------
Data type=  int64
Mean=  0.09083759339362957
Min=  0
Max=  21
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_op_var40_ult3 --------
Data type=  int64
Mean=  0.0700747149036571
Min=  0
Max=  90
NaN count=  0
Unique values count=  18
Non-zero values count=  0
------ num_op_var41_hace2 --------
Data type=  int64
Mean=  1.6171451042076288
Min=  0
Max=  156
NaN count=  0
Unique values count=  40
Non-zero values count=  0
------ num_op_var41_hace3 --------
Data type=  int64
Mean=  0.09461266220998821
Min=  0
Max=  60
NaN count=  0
Unique values count=  15
Non-zero values count=  0
------ num_op_var41_ult1 --------
Data type=  int64
Mean=  2.946677152968934
Min=  0
Max=  186
NaN count=  0
Unique values count=  50
Non-zero values count=  0
------ num_op_var41_ult3 --------
Data type=  int64
Mean=  4.6584349193865515
Min=  0
Max=  279
NaN count=  0
Unique values count=  73
Non-zero values count=  0
------ num_op_var39_ult3 --------
Data type=  int64
Mean=  4.728509634290209
Min=  0
Max=  279
NaN count=  0
Unique values count=  75
Non-zero values count=  0
------ num_var28 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var29 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var30_0 --------
Data type=  int64
Mean=  3.3959103421156116
Min=  0
Max=  33
NaN count=  0
Unique values count=  7
Non-zero values count=  0
------ num_var30 --------
Data type=  int64
Mean=  2.4662996460872986
Min=  0
Max=  33
NaN count=  0
Unique values count=  7
Non-zero values count=  0
------ num_var31_0 --------
Data type=  int64
Mean=  0.018403460479748328
Min=  0
Max=  15
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var31 --------
Data type=  int64
Mean=  0.01580810066850177
Min=  0
Max=  15
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var32 --------
Data type=  int64
Mean=  0.002831301612268974
Min=  0
Max=  12
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_var33_0 --------
Data type=  int64
Mean=  0.0023594180102241447
Min=  0
Max=  6
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_var33 --------
Data type=  int64
Mean=  0.00212347620920173
Min=  0
Max=  6
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_var34_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var34 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var35 --------
Data type=  int64
Mean=  3.3852929610696028
Min=  0
Max=  36
NaN count=  0
Unique values count=  10
Non-zero values count=  0
------ num_var37_med_ult2 --------
Data type=  int64
Mean=  0.26331104994101456
Min=  0
Max=  57
NaN count=  0
Unique values count=  14
Non-zero values count=  0
------ num_var37_0 --------
Data type=  int64
Mean=  0.4192685804168305
Min=  0
Max=  54
NaN count=  0
Unique values count=  15
Non-zero values count=  0
------ num_var37 --------
Data type=  int64
Mean=  0.4192685804168305
Min=  0
Max=  54
NaN count=  0
Unique values count=  15
Non-zero values count=  0
------ num_var39_0 --------
Data type=  int64
Mean=  2.735273299252851
Min=  0
Max=  9
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_var40 --------
Data type=  int64
Mean=  0.011325206449075895
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var41_0 --------
Data type=  int64
Mean=  2.710263468344475
Min=  0
Max=  9
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_var41 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var39 --------
Data type=  int64
Mean=  0.011325206449075895
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var42_0 --------
Data type=  int64
Mean=  3.2170664569406213
Min=  0
Max=  18
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ num_var42 --------
Data type=  int64
Mean=  2.2926464805348012
Min=  0
Max=  18
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ num_var44 --------
Data type=  int64
Mean=  0.005898545025560362
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var46_0 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_var5 --------
Data type=  float64
Mean=  1173.9888604011019
Min=  -213.0
Max=  619329.15
NaN count=  0
Unique values count=  2431
Non-zero values count=  0
------ saldo_var8 --------
Data type=  float64
Mean=  122.53456468737716
Min=  -72.81
Max=  89262.0
NaN count=  0
Unique values count=  359
Non-zero values count=  0
------ saldo_var13_largo --------
Data type=  float64
Mean=  1837.88905151396
Min=  0.0
Max=  750000.0
NaN count=  0
Unique values count=  73
Non-zero values count=  0
------ saldo_var13_medio --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_var14 --------
Data type=  float64
Mean=  93.60829807314194
Min=  0.0
Max=  171095.7
NaN count=  0
Unique values count=  65
Non-zero values count=  0
------ saldo_var18 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_var28 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_var30 --------
Data type=  float64
Mean=  14554.784000786425
Min=  -213.0
Max=  2123084.7
NaN count=  0
Unique values count=  3470
Non-zero values count=  0
------ saldo_var31 --------
Data type=  float64
Mean=  154.65367125442387
Min=  0.0
Max=  283844.55
NaN count=  0
Unique values count=  48
Non-zero values count=  0
------ saldo_var33 --------
Data type=  float64
Mean=  15.6037845064884
Min=  0.0
Max=  64224.39
NaN count=  0
Unique values count=  8
Non-zero values count=  0
------ saldo_var40 --------
Data type=  float64
Mean=  3.4622335823830124
Min=  0.0
Max=  7214.67
NaN count=  0
Unique values count=  49
Non-zero values count=  0
------ saldo_var41 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_var42 --------
Data type=  float64
Mean=  7651.677440031457
Min=  -213.0
Max=  2123084.7
NaN count=  0
Unique values count=  3183
Non-zero values count=  0
------ saldo_var44 --------
Data type=  float64
Mean=  73.17460794337396
Min=  0.0
Max=  190062.0
NaN count=  0
Unique values count=  25
Non-zero values count=  0
------ var36 --------
Data type=  int64
Mean=  39.60951631930791
Min=  0
Max=  99
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ delta_imp_compra_var44_1y3 --------
Data type=  float64
Mean=  9437672.03993045
Min=  -1.0
Max=  9999999999.0
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ delta_imp_reemb_var13_1y3 --------
Data type=  int64
Mean=  4718836.019976405
Min=  0
Max=  9999999999
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ delta_imp_reemb_var33_1y3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ delta_imp_trasp_var17_in_1y3 --------
Data type=  int64
Mean=  786472.6699960676
Min=  0
Max=  9999999999
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ delta_imp_venta_var44_1y3 --------
Data type=  int64
Mean=  5505308.689893826
Min=  -1
Max=  9999999999
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ delta_num_aport_var17_1y3 --------
Data type=  int64
Mean=  4718836.019819112
Min=  -1
Max=  9999999999
NaN count=  0

Unique values count=  4
Non-zero values count=  0
------ delta_num_compra_var44_1y3 --------
Data type=  float64
Mean=  9437672.040005244
Min=  -1.0
Max=  9999999999.0
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ delta_num_reemb_var13_1y3 --------
Data type=  int64
Mean=  4718836.019976405
Min=  0
Max=  9999999999
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ delta_num_reemb_var17_1y3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ delta_num_venta_var44_1y3 --------
Data type=  int64
Mean=  5505308.689893826
Min=  -1
Max=  9999999999
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ imp_amort_var18_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_aport_var13_ult1 --------
Data type=  float64
Mean=  856.5351576877703
Min=  0.0
Max=  450000.0
NaN count=  0
Unique values count=  57
Non-zero values count=  0
------ imp_aport_var17_hace3 --------
Data type=  float64
Mean=  10.87812504915454
Min=  0.0
Max=  90000.36
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ imp_aport_var33_hace3 --------
Data type=  int64
Mean=  5.5564294140778605
Min=  0
Max=  36000
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ imp_var7_emit_ult1 --------
Data type=  int64
Mean=  1.4156508061344868
Min=  0
Max=  18000
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ imp_var7_recib_ult1 --------
Data type=  float64
Mean=  213.35329689343294
Min=  0.0
Max=  334438.86
NaN count=  0
Unique values count=  44
Non-zero values count=  0
------ imp_compra_var44_hace3 --------
Data type=  float64
Mean=  18.74559496657491
Min=  0.0
Max=  89400.0
NaN count=  0
Unique values count=  7
Non-zero values count=  0
------ imp_reemb_var13_ult1 --------
Data type=  int64
Mean=  22.452457727093982
Min=  0
Max=  92283
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ imp_reemb_var17_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_reemb_var17_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_reemb_var33_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_reemb_var33_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_trasp_var17_in_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_trasp_var17_in_ult1 --------
Data type=  float64
Mean=  0.23592764451435314
Min=  0.0
Max=  2999.82
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ imp_trasp_var17_out_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_trasp_var17_out_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_trasp_var33_in_hace3 --------
Data type=  float64
Mean=  3.8994313802595357
Min=  0.0
Max=  49581.27
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ imp_trasp_var33_in_ult1 --------
Data type=  float64
Mean=  0.20420998820290998
Min=  0.0
Max=  2596.53
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ imp_trasp_var33_out_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ imp_venta_var44_hace3 --------
Data type=  float64
Mean=  6.137679119150609
Min=  0.0
Max=  78040.59
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ imp_venta_var44_ult1 --------
Data type=  float64
Mean=  25.18230436492332
Min=  0.0
Max=  125480.49
NaN count=  0
Unique values count=  8
Non-zero values count=  0
------ ind_var7_recib_ult1 --------
Data type=  int64
Mean=  0.003381832481321274
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var10_ult1 --------
Data type=  int64
Mean=  0.0816358631537554
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var10cte_ult1 --------
Data type=  int64
Mean=  0.09374754227290602
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var9_cte_ult1 --------
Data type=  int64
Mean=  0.09775855289028706
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var9_ult1 --------
Data type=  int64
Mean=  0.08588281557215886
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var43_emit_ult1 --------
Data type=  int64
Mean=  0.06873771136453008
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ ind_var43_recib_ult1 --------
Data type=  int64
Mean=  0.13425088478175384
Min=  0
Max=  1
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var2_0_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var2_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_var7_emit_ult1 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_compra_var44_hace3 --------
Data type=  int64
Mean=  0.0018875344081793158
Min=  0
Max=  9
NaN count=  0
Unique values count=  3
Non-zero values count=  0
------ num_ent_var16_ult1 --------
Data type=  int64
Mean=  0.18615808100668502
Min=  0
Max=  45
NaN count=  0
Unique values count=  8
Non-zero values count=  0
------ num_var22_hace2 --------
Data type=  int64
Mean=  1.3170271333071175
Min=  0
Max=  48
NaN count=  0
Unique values count=  16
Non-zero values count=  0
------ num_var22_hace3 --------
Data type=  int64
Mean=  1.1657884388517499
Min=  0
Max=  39
NaN count=  0
Unique values count=  14
Non-zero values count=  0
------ num_var22_ult1 --------
Data type=  int64
Mean=  0.5690916240660637
Min=  0
Max=  33
NaN count=  0
Unique values count=  12
Non-zero values count=  0
------ num_var22_ult3 --------
Data type=  int64
Mean=  3.0519071962249313
Min=  0
Max=  93
NaN count=  0
Unique values count=  22
Non-zero values count=  0
------ num_med_var22_ult3 --------
Data type=  int64
Mean=  0.6382225717656311
Min=  0
Max=  30
NaN count=  0
Unique values count=  9
Non-zero values count=  0
------ num_med_var45_ult3 --------
Data type=  int64
Mean=  4.08462445930004
Min=  0
Max=  249
NaN count=  0
Unique values count=  53
Non-zero values count=  0
------ num_meses_var5_ult3 --------
Data type=  int64
Mean=  2.042390876917027
Min=  0
Max=  3
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_meses_var12_ult3 --------
Data type=  int64
Mean=  0.10578057412504915
Min=  0
Max=  3
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_meses_var39_vig_ult3 --------
Data type=  int64
Mean=  1.591348800629178
Min=  0
Max=  3
NaN count=  0
Unique values count=  4
Non-zero values count=  0
------ num_op_var39_comer_ult3 --------
Data type=  int64
Mean=  3.689421942587495
Min=  0
Max=  336
NaN count=  0
Unique values count=  65
Non-zero values count=  0
------ num_op_var40_efect_ult1 --------
Data type=  int64
Mean=  0.0007078254030672435
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_op_var41_comer_ult3 --------
Data type=  int64
Mean=  3.529925285096343
Min=  0
Max=  336
NaN count=  0
Unique values count=  65
Non-zero values count=  0
------ num_reemb_var13_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_reemb_var13_ult1 --------
Data type=  int64
Mean=  0.001415650806134487
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_var43_emit_ult1 --------
Data type=  int64
Mean=  0.3888320880849391
Min=  0
Max=  60
NaN count=  0
Unique values count=  15
Non-zero values count=  0
------ num_var43_recib_ult1 --------
Data type=  int64
Mean=  0.8257963035784507
Min=  0
Max=  159
NaN count=  0
Unique values count=  21
Non-zero values count=  0
------ num_trasp_var17_in_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_trasp_var17_in_ult1 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_trasp_var17_out_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_trasp_var17_out_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_trasp_var33_in_hace3 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_trasp_var33_in_ult1 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_trasp_var33_out_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ num_venta_var44_hace3 --------
Data type=  int64
Mean=  0.00023594180102241448
Min=  0
Max=  3
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ num_venta_var44_ult1 --------
Data type=  int64
Mean=  0.005898545025560362
Min=  0
Max=  39
NaN count=  0
Unique values count=  5
Non-zero values count=  0
------ num_var45_hace2 --------
Data type=  int64
Mean=  5.456154148643335
Min=  0
Max=  288
NaN count=  0
Unique values count=  62
Non-zero values count=  0
------ num_var45_hace3 --------
Data type=  int64
Mean=  3.926779394416044
Min=  0
Max=  333
NaN count=  0
Unique values count=  44
Non-zero values count=  0
------ num_var45_ult1 --------
Data type=  int64
Mean=  4.474872198191113
Min=  0
Max=  306
NaN count=  0
Unique values count=  64
Non-zero values count=  0
------ num_var45_ult3 --------
Data type=  int64
Mean=  13.857805741250491
Min=  0
Max=  747
NaN count=  0
Unique values count=  115
Non-zero values count=  0
------ saldo_var2_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_medio_var5_hace2 --------
Data type=  float64
Mean=  1688.2878497837178
Min=  -23.91
Max=  751111.11
NaN count=  0
Unique values count=  3158
Non-zero values count=  0
------ saldo_medio_var5_hace3 --------
Data type=  float64
Mean=  835.543913488004
Min=  0.0
Max=  236000.01
NaN count=  0
Unique values count=  2100
Non-zero values count=  0
------ saldo_medio_var5_ult1 --------
Data type=  float64
Mean=  1205.451586315376
Min=  -78.93
Max=  601428.6
NaN count=  0
Unique values count=  3073
Non-zero values count=  0
------ saldo_medio_var5_ult3 --------
Data type=  float64
Mean=  1137.1007966968148
Min=  -35.49
Max=  294284.61
NaN count=  0
Unique values count=  4013
Non-zero values count=  0
------ saldo_medio_var8_hace2 --------
Data type=  float64
Mean=  52.61086197404643
Min=  0.0
Max=  52396.35
NaN count=  0
Unique values count=  231
Non-zero values count=  0
------ saldo_medio_var8_hace3 --------
Data type=  float64
Mean=  6.761384191899332
Min=  0.0
Max=  28521.27
NaN count=  0
Unique values count=  73
Non-zero values count=  0
------ saldo_medio_var8_ult1 --------
Data type=  float64
Mean=  108.01728981517897
Min=  -21.48
Max=  90379.32
NaN count=  0
Unique values count=  371
Non-zero values count=  0
------ saldo_medio_var12_hace2 --------
Data type=  float64
Mean=  3770.5263562721225
Min=  0.0
Max=  1425214.26
NaN count=  0
Unique values count=  519
Non-zero values count=  0
------ saldo_medio_var12_hace3 --------
Data type=  float64
Mean=  576.4379339362956
Min=  0.0
Max=  377419.35
NaN count=  0
Unique values count=  215
Non-zero values count=  0
------ saldo_medio_var12_ult1 --------
Data type=  float64
Mean=  5890.778045615416
Min=  0.0
Max=  1935555.03
NaN count=  0
Unique values count=  608
Non-zero values count=  0
------ saldo_medio_var12_ult3 --------
Data type=  float64
Mean=  4448.984232009445
Min=  0.0
Max=  1680384.66
NaN count=  0
Unique values count=  610
Non-zero values count=  0
------ saldo_medio_var13_corto_hace2 --------
Data type=  float64
Mean=  3438.8154125049114
Min=  0.0
Max=  450000.0
NaN count=  0
Unique values count=  359
Non-zero values count=  0
------ saldo_medio_var13_corto_hace3 --------
Data type=  float64
Mean=  567.5098395595753
Min=  0.0
Max=  285000.21
NaN count=  0
Unique values count=  209
Non-zero values count=  0
------ saldo_medio_var13_corto_ult3 --------
Data type=  float64
Mean=  3879.2220259536007
Min=  0.0
Max=  405000.03
NaN count=  0
Unique values count=  524
Non-zero values count=  0
------ saldo_medio_var13_largo_hace3 --------

Data type=  float64
Mean=  156.33806449075894
Min=  0.0
Max=  273103.59
NaN count=  0
Unique values count=  53
Non-zero values count=  0
------ saldo_medio_var13_largo_ult1 --------
Data type=  float64
Mean=  1033.0559292174594
Min=  0.0
Max=  720000.0
NaN count=  0
Unique values count=  67
Non-zero values count=  0
------ saldo_medio_var13_largo_ult3 --------
Data type=  float64
Mean=  817.9372048761304
Min=  0.0
Max=  449999.94
NaN count=  0
Unique values count=  98
Non-zero values count=  0
------ saldo_medio_var13_medio_hace3 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_medio_var13_medio_ult1 --------
Data type=  int64
Mean=  0.0
Min=  0
Max=  0
NaN count=  0
Unique values count=  1
Non-zero values count=  0
------ saldo_medio_var17_ult3 --------
Data type=  float64
Mean=  38.213016122689744
Min=  0.0
Max=  88794.21
NaN count=  0
Unique values count=  18
Non-zero values count=  0
------ saldo_medio_var29_hace2 --------
Data type=  float64
Mean=  0.004716476602438065
Min=  0.0
Max=  59.97
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ saldo_medio_var29_hace3 --------
Data type=  float64
Mean=  0.011419583169484859
Min=  0.0
Max=  145.2
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ saldo_medio_var29_ult1 --------
Data type=  float64
Mean=  0.264684231222965
Min=  0.0
Max=  3365.46
NaN count=  0
Unique values count=  2
Non-zero values count=  0
------ saldo_medio_var33_hace3 --------
Data type=  float64
Mean=  2.707396775462053
Min=  0.0
Max=  20385.72
NaN count=  0
Unique values count=  6
Non-zero values count=  0
------ saldo_medio_var33_ult3 --------
Data type=  float64
Mean=  11.027794730633111
Min=  0.0
Max=  42767.16
NaN count=  0
Unique values count=  8
Non-zero values count=  0
------ saldo_medio_var44_hace3 --------
Data type=  float64
Mean=  3.8443837986629963
Min=  0.0
Max=  24650.01
NaN count=  0
Unique values count=  7
Non-zero values count=  0
------ var38 --------
Data type=  float64
Mean=  115476.02741234982
Min=  5163.75
Max=  4548613.92
NaN count=  0
Unique values count=  10184
Non-zero values count=  0
------ TARGET --------
Data type=  float64
Mean=  0.0
Min=  0.0
Max=  0.0
NaN count=  0
Unique values count=  1
Non-zero values count=  0

In [171]:
print(df_train[df_train.TARGET > 0].shape)
print(df_train[df_train.TARGET < 0].shape)

(1284, 215)
(0, 215)

In [ ]:
df_train[df_train.var3 > 0]

In [ ]:
df_train.shape