In [3]:
import pandas as pd
import numpy as np
import sklearn.preprocessing as pre
import sklearn.linear_model as linmod
import sklearn.neighbors as nb
import sklearn.tree as tree
import sklearn.ensemble as ens

In [4]:
df_train = pd.read_csv("/home/mukundhan/02_Tech/Python/AV_AMEX_Challenge/PreProcessed_Files/train.csv")
df_test = pd.read_csv("/home/mukundhan/02_Tech/Python/AV_AMEX_Challenge/PreProcessed_Files/test.csv")

In [5]:
df_train["src"] = "train"
df_test["src"] = "test"

In [7]:
df = pd.concat([df_train, df_test], axis=0, sort=False)

In [8]:
df.columns

Index(['SESSION_ID', 'DATETIME', 'USER_ID', 'PRODUCT', 'CAMPAIGN_ID',
       'WEBPAGE_ID', 'PRODUCT_CATEGORY_1', 'PRODUCT_CATEGORY_2',
       'USER_GROUP_ID', 'GENDER', 'AGE_LEVEL', 'USER_DEPTH',
       'CITY_DEVELOPMENT_INDEX', 'VAR_1', 'CLICK_CNT', 'CLICK_DURATION',
       'IS_CLICK', 'src'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 18 columns):
SESSION_ID                592149 non-null int64
DATETIME                  592149 non-null object
USER_ID                   592149 non-null int64
PRODUCT                   592149 non-null object
CAMPAIGN_ID               592149 non-null int64
WEBPAGE_ID                592149 non-null int64
PRODUCT_CATEGORY_1        592149 non-null int64
PRODUCT_CATEGORY_2        150124 non-null float64
USER_GROUP_ID             592149 non-null float64
GENDER                    592149 non-null object
AGE_LEVEL                 592149 non-null float64
USER_DEPTH                592149 non-null float64
CITY_DEVELOPMENT_INDEX    592149 non-null float64
VAR_1                     592149 non-null int64
CLICK_CNT                 592149 non-null int64
CLICK_DURATION            592149 non-null int64
IS_CLICK                  463291 non-null float64
src                       592149 non-null object
dtypes: float64(6), int64(8), object(4)
memory usage: 85.8+ MB

In [10]:
dfprod_dummies = pd.get_dummies(df['PRODUCT'], prefix = 'PROD_')
dfprodcat_dummies = pd.get_dummies(df['PRODUCT_CATEGORY_1'], prefix = 'PROD_CAT1_')

In [13]:
df = pd.concat([df, dfprod_dummies], axis=1)
df = pd.concat([df, dfprodcat_dummies], axis=1)

In [16]:
dfgender_dummies = pd.get_dummies(df['GENDER'], prefix = 'GENDER_')

In [17]:
df = pd.concat([df, dfgender_dummies], axis=1)

In [10]:
df.isna().sum()

SESSION_ID                     0
DATETIME                       0
USER_ID                        0
PRODUCT                        0
CAMPAIGN_ID                    0
WEBPAGE_ID                     0
PRODUCT_CATEGORY_1             0
PRODUCT_CATEGORY_2        442025
USER_GROUP_ID                  0
GENDER                         0
AGE_LEVEL                      0
USER_DEPTH                     0
CITY_DEVELOPMENT_INDEX         0
VAR_1                          0
CLICK_CNT                      0
CLICK_DURATION                 0
IS_CLICK                  128858
src                            0
dtype: int64

In [19]:
df["CLICK_CNT"].value_counts()

1590465    191447
1804486    184953
479142      64937
489353      53456
284923      28719
199452      25713
124982      17806
113893      11674
60486        7841
20811        2230
10298        1807
15469        1362
2185          204
Name: CLICK_CNT, dtype: int64

In [23]:
df_click_cnt = pd.DataFrame()
df_click_cnt["CLICK_CNT"] = df["CLICK_CNT"]
df_click_cnt.head()

   CLICK_CNT
0     489353
1      60486
2     284923
3    1804486
4    1804486

In [29]:
df_click_cnt = pd.DataFrame()
df_click_cnt["CLICK_CNT"] = df["CLICK_CNT"]

rs = pre.MinMaxScaler()
df_click_cnt = pd.DataFrame(data=rs.fit_transform(df_click_cnt), columns=df_click_cnt.columns)

In [30]:
df_click_cnt.head()

   CLICK_CNT
0   0.270303
1   0.032348
2   0.156876
3   1.000000
4   1.000000

In [31]:
df.drop(["CLICK_CNT"], axis="columns", inplace=True)
df["CLICK_CNT"] = df_click_cnt["CLICK_CNT"]

In [32]:
df.head()

,SESSION_ID,DATETIME,USER_ID,PRODUCT,CAMPAIGN_ID,WEBPAGE_ID,PRODUCT_CATEGORY_1,PRODUCT_CATEGORY_2,USER_GROUP_ID,GENDER,AGE_LEVEL,USER_DEPTH,CITY_DEVELOPMENT_INDEX,VAR_1,CLICK_DURATION,IS_CLICK,src,CLICK_CNT
0,10,2017-07-02 23:21,251381,D,404347,53587,1,NaN,1.0,Male,1.0,2.0,3.0,0,1,0.0,train,0.270303
1,100,2017-07-03 16:06,471328,H,404347,53587,1,NaN,8.0,Female,2.0,3.0,2.0,1,3,0.0,train,0.032348
2,1000,2017-07-04 06:10,304193,B,404347,53587,1,146115.0,5.0,Male,5.0,2.0,2.0,0,1,0.0,train,0.156876
3,10000,2017-07-02 07:07,735338,I,105960,11085,2,270915.0,2.0,Male,2.0,3.0,3.0,1,2,0.0,train,1.000000
4,100000,2017-07-03 12:51,506019,C,405490,60305,3,NaN,2.0,Male,2.0,3.0,2.0,1,3,0.0,train,1.000000

In [33]:
df["IS_CLICK"] = df["IS_CLICK"].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer